<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script script type="text/javascript" src="script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Photogrammetry Raid Planning</title>
</head>
<body>
<!-- Navigation Bar -->
<div class="navbar">
  <div class="menu-item"><a href="index.html">Settings</a></div>
  <div class="menu-item"><a href="parameters.html">Parameters</a></div>
  <div class="menu-item"><a class="active"  href="visualisation.html">Visualisation</a></div>
</div>

<div class="row">
  <div class="main">

  </div>
  <div class="side">
    <h2>About Me</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
  </div>
</div>
</body>
</html>